
PORT=3000
NODE_ENV=development
MONGO_URI = mongodb://<dbUser>:<password>@ac-ejqhgfg-shard-00-00.wko6f8v.mongodb.net:27017,ac-ejqhgfg-shard-00-01.wko6f8v.mongodb.net:27017,ac-ejqhgfg-shard-00-02.wko6f8v.mongodb.net:27017/?ssl=true&replicaSet=atlas-zqmya9-shard-0&authSource=admin&appName=Cluster0